{% extends "site_base.html" %}
{% load i18n mks_tags avatar_tags crispy_forms_tags %}{% load static from staticfiles %}
{% block extratitle %}{{ object }}{% endblock %}
{% block keywords %}{{ object }}{% endblock %}
{% block description %}{{ object }} - {% trans 'Open Knesset - Opening the Knesset to the public' %}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'lobbyists' %}">{% trans "Lobbying Corporations" %}</a> <span class="divider">/</span></li>
    <li class="active">
        {% if not object.name and not object.source_id %}
            {% trans "Private Lobbyists" %}
        {% else %}
            {{ object }}
        {% endif %}
    </li>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{% static "js/lobbyists.js" %}"></script>
{% endblock %}

{% block divcontent %}
    <div class="row">
        <div class="cards span9">
            {% if warning_old_corporation %}
                <section class="card card-list">
                    <header><h2><i class="fa fa-users"></i>{% trans "Warning" %}</h2></header>
                    <ul>
                        <li>{% trans "This corporation is old - all the lobbyists related to it are not currently active" %}</li>
                    </ul>
                </section>
            {% endif %}
            <section class="card card-list">
                <header>
                    <h2>
                        <i class="fa fa-users"></i>{% trans "Lobbyist Corporation" %}: 
                        {% if not object.name and not object.source_id %}
                            {% trans "Private Lobbyists" %}
                        {% endif %}
                        {% if object.name %}
                            {{ object.name }}
                        {% elif not corporation.is_private_lobbyists %}
                            {% trans "No name" %}
                        {% endif %}
                    </h2>
                </header>
                <ul>
                    {% if object.source_id %}
                        <li>{% trans "Corporation Id" %}: {{ object.source_id }}</li>
                    {% endif %}
                    {% if object.alias_corporations %}
                        <li>
                            {% trans "Alias Corporations" %}:
                            {% for alias_corporation in object.alias_corporations %}
                                {{ alias_corporation.cached_data.name }}
                                {% if alias_corporation.cached_data.source_id %}
                                    ({{ alias_corporation.cached_data.source_id }})
                                {% endif %}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </li>
                    {% endif %}
                    {% if links %}
                        <li>
                            {% trans "Links" %}:
                            {% for link in links %}
                                <a href="{{ link.url }}">{{ link.title }}</a>
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            {% if perms.lobbyists.can_edit %}
                                , <a href="#add-lobbyistcorporation-link-modal" data-role="button" data-toggle="modal">{% trans "Add link" %}</a>
                            {% endif %}
                        </li>
                    {% else %}
                        {% trans "Links" %}:
                        <a href="javascript:lobbyists.corporation_add_link('{{ object.id }}');">{% trans "Add link" %}</a>
                    {% endif %}
                </ul>
            </section>
            {% if lobbyists %}
            <section class="card card-list">
                <header><h2><i class="fa fa-users"></i>{% trans "Lobbyists" %}</h2></header>
                <ul>
                    {% for lobbyist in lobbyists %}
                        <li><a href="{% url 'lobbyist-detail' lobbyist.id %}">{{ lobbyist }}</a></li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}
            {% if object.committee_meetings.count > 0 %}
            <section class="card card-list">
                <header><h2><i class="fa fa-users"></i>{% trans "Mentiond in Committee Meetings" %}</h2></header>
                <ul>
                    {% for committee_meeting in object.committee_meetings.all %}
                        <li><a href="{% url 'committee-meeting' committee_meeting.id %}">{{ committee_meeting }}</a></li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}
            {% include "lobbyists/_suggest_change_section.html" %}
        </div>
    </div>
    <div id="add-lobbyistcorporation-link-modal" class="modal hide fade suggest-modal" tabindex="-1" role="dialog" aria-labelledby="suggest-feedback-ModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="add-lobbyistcorporationlink-ModalLabel">{% trans "Add Lobbyist Corporation Link" %}</h3>
        </div>
        <div class="modal-body">
            {% crispy addLinkForm %}
        </div>
        <div class="modal-footer">
            <input class="btn btn-primary" type="submit" value="{% trans "OK" %}" data-loading-text="{% trans "Sending..." %}"/>
            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
        </div>
</div>
{% endblock %}
